In [1]:
x=0
while x<5:
    print(f'the current value of x is {x}')
 #   x=x+1
    x+=1
else:
    print('x is not less than 5')

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
x is not less than 5

In [2]:
x=[1,2,3]

In [3]:
for item in x:
    #
    pass

In [4]:
mystring='sammy'

In [5]:
for _ in mystring:
    if _=='a':
        continue
    print(_)

s
m
m
y

In [9]:
x=0
while x<5:
    if x==2:
        break
    print(x)
    x+=1

0
1

In [10]:
#useful operators

In [13]:
mylist=[1,2,3]

In [12]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [14]:
for num in range(3,10,2):
    print(num)

3
5
7
9

In [16]:
list(range(3,10,2))

[3, 5, 7, 9]

In [19]:
index_count=0

for letter in 'abcde':
    print('at index {} the letter is {}'.format(index_count,letter))
    index_count+=1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

In [21]:
index_count=0
word='abcde'

for letter in word:
    print(word[index_count])
    index_count+=1

a
b
c
d
e

In [22]:
word='abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [25]:
word='abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [26]:
mylist1=[1,2,3]

In [29]:
mylist2=['a','b','c']

In [30]:
zip(mylist1,mylist2)

In [31]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [32]:
#zip pairs two list and shows as tuples list

In [33]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [34]:
'x' in [1,2,3]

False

In [35]:
'x' in ['x','a','b']

True

In [36]:
'the' in 'the world'

True

In [41]:
'mykey' in {'mykey':123}

True

In [42]:
d={'mykey':123}
123 in d.values()

True

In [43]:
#in keyword operator

In [44]:
mylist=[1,2,3,4,5,6,7]

In [45]:
min(mylist)

1

In [46]:
max(mylist)

7

In [47]:
#min max

In [48]:
from random import shuffle

In [49]:
mylist=[1,2,3,4,5,6,7,8,9]

In [50]:
shuffle(mylist)

In [51]:
mylist

[5, 4, 3, 9, 7, 6, 2, 8, 1]

In [52]:
#shuffle operates in place and returns nthn and has type none

In [53]:
from random import randint

In [54]:
randint(0,100)

64

In [55]:
randint(0,100)

89

In [56]:
mynum=randint(0,100)

In [57]:
mynum

55

In [58]:
input('enter the no')

enter the no10

'10'

In [59]:
result=input('what is your name ?')

what is your name ?jose

In [60]:
result

'jose'

In [61]:
result=input('favourite no : ')

favourite no : 20

In [62]:
result

'20'

In [63]:
#input always accept as string

In [65]:
type(result)

str

In [66]:
int(result)

20

In [68]:
result=int(input('favournite no : '))

favournite no : 10

type(result)

In [69]:
type(result)

int

In [70]:
#list comprehensions

In [71]:
mystring='hello'

In [72]:
mylist=[]
for letter in mystring:
    mylist.append(letter)

In [73]:
mylist

['h', 'e', 'l', 'l', 'o']

In [74]:
 mylist=[letter for letter in mystring]

In [75]:
mylist

['h', 'e', 'l', 'l', 'o']

In [76]:
mylist=[x for x in 'world']

In [77]:
mylist

['w', 'o', 'r', 'l', 'd']

In [78]:
mylist=[num for num in range(0,12)]

In [79]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [80]:
mylist=[num**2 for num in range(0,13)]

In [81]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [84]:
mylist=[x**2 for x in range(0,13) if x%2==0]

In [85]:
mylist

[0, 4, 16, 36, 64, 100, 144]

In [86]:
celcius=[0,10,20,32.5]

In [87]:
farenheit=[((9/5)*temp+32) for temp in celcius]

In [88]:
farenheit

[32.0, 50.0, 68.0, 90.5]

In [90]:
farenheit=[]

for temp in celcius:
    farenheit.append((9/5)*temp+32)

In [91]:
farenheit

[32.0, 50.0, 68.0, 90.5]

In [92]:
results=[x if x%2==0 else 'odd' for x in range(0,10)]

In [93]:
results

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

In [94]:
#nested loop

In [95]:
mylist=[]

for x in [1,2,3]:
    for y in [10,20,30]:
        mylist.append(x*y)

In [96]:
mylist

[10, 20, 30, 20, 40, 60, 30, 60, 90]

In [97]:
mylist=[x*y for x in [2,4,6] for y in [1,10,100]]

In [98]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]